.content {
	padding: 0 200px;
}

.home {
	height: 940px;
	margin-top: -80px;
	position: relative;
}

.home section {
	background:rgb(0 0 0 / 20%);
}

.ourServices,
.constructions,
.requirements, 
.stopChasing {
	position: relative;
	background-color: #021e5e;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
}

.home h1 {
	font-size: 4em;
	width: 540px;
	position: absolute;
	top: 20%;
	left: 10%;
}

.home h1 mark {
	background: #ffffff;
	padding: 1px;
}

.home .image {
	width: 100%;
	position: relative;
	z-index: -1;
}

.ourServices .content {
	padding-top: 95px;
	padding-bottom: 95px;
}
.constructions .content,
.stopChasing .content {
	padding-top: 95px;
	min-height: 900px;
}

.content h1 {
	color: #ffffff;
	font-size: 4em;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 60px;
}
.content h2 {
	color: #ffffff;
	font-size: 2em;
	text-align: center;
	margin-bottom: 100px;
	margin-top: -100px;
}

.content .flexBox{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	flex-wrap: wrap;
}

@media screen and (max-width: 768px) {

	
	.content {
		padding: 0 20px;
	}

	.home {
		height: 360px;
		margin-top: 80px;
		position: relative;
	}

	.home .content h1 {
		position: absolute;
		font-size: 2em;
		width: 320px;
	}

	.home .content img {
		right: 20px;
		max-width: 320px;
	}

	.ourServices .content { 
			flex-direction: column;
	}
	.serviceWrapper {
		width: 100%;
		margin-bottom: 20px;
	}
}