.content {
	padding: 0 10%;
}

.home {
	height: 940px;
	margin-top: -80px;
	position: relative;
	background: url(../../assets/banner.png);
	background-size: cover;
}

.home section {
	background:rgb(0 0 0 / 20%);
}

.ourServices,
.constructions,
.requirements, 
.stopChasing {
	position: relative;
	background-color: #021e5e;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
}

.homeSection h1 {
	font-size: 4em;
	width: 540px;
}

.homeSection h1 mark {
	background: rgba(0, 0, 0, 0.3);
	color: #ffffff;
	padding: 1px;
}

.homeSection .image {
	max-width: 100%;
	position: relative;
	z-index: -1;
}

.homeSection .loginWrapper {
	position: absolute;
	top: 20%;
	left: 10%;
}
.homeSection .loginWrapper .loginButton {
	display: flex;
	margin-top: 30px;
	align-items: center;
}


.loginButton a {
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	transition: all 0.5s ease-in;
	text-decoration: none;
	border-radius: 5px;

	padding: 10px 20px;
	cursor: pointer;
}

.loginButton a:hover {
}

.loginButton .primary {
	background-color: #021e5e;
	border: 1px solid #ffffff;
	color: #ffffff;
}
.loginButton .secondary {
	color: #021e5e;
	background-color: #ffffff;
	border: 1px solid #ffffff;
}
.loginButton .primary:hover {
	color: #021e5e;
	border: 1px solid #021e5e;
	background-color: #ffffff;
}
.loginButton .secondary:hover {
	background-color: #021e5e;
	color: #ffffff;
	border: 1px solid #ffffff;
}
.loginButton .buttonSeparator {
	width: 100px;
	height: 2px;
	background-color: #ffffff;
}

.ourServices .content {
	padding-top: 95px;
	padding-bottom: 95px;
}

.constructions .content,
.stopChasing .content {
	padding-top: 95px;
	min-height: 900px;
}

.content h1 {
	color: #ffffff;
	font-size: 4em;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 60px;
}

.content h2 {
	color: #ffffff;
	font-size: 2em;
	text-align: center;
	margin-bottom: 100px;
	margin-top: -100px;
}

.content .flexBox {
	display: flex;
	flex-direction: row;
	justify-content: center;

	flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
	.home {
		height: 640px;
	}

	.homeSection h1 {
		font-size: 2em;
		max-width: 320px;
	}	

	.content h1 {
		font-size: 2em;
		margin-top: 10px;
		margin-bottom: 40px;
	}

	.stopChasing {
		padding-bottom: 40px;
	}
	.loginButton .buttonSeparator {
		width: 30px;
	}
} 
