.content {
	padding: 0 7%;
}
h1, h3 {
	color: #0d1f2a;
}
a,
a:hover,
a:active {
	text-decoration: none;
}

.home {
	height: 640px;
	margin-top: -80px;
	position: relative;
	background: url(../../assets/banner.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.home section {
	background:rgb(0 0 0 / 20%);
}

.ourServices,
.constructions,
.requirements, 
.stopChasing {
	position: relative;
	background-color: #ffffff;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
}

.homeSection h1 {
	font-size: 4em;
	width: 670px;
	text-transform: uppercase;
}

.homeSection .image {
	max-width: 100%;
	position: relative;
	z-index: -1;
}

.homeSection .loginWrapper {
	position: absolute;
	top: 20%;
	left: 10%;
}
.homeSection .loginWrapper .loginButton {
	display: flex;
	margin-top: 100px;
	align-items: center;
	justify-content: center;
}

hr {
	height: 1px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	margin-top: 40px;
}
/* .loginButton a {
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	transition: all 0.5s ease-in;
	text-decoration: none;
	border-radius: 5px;

	padding: 10px 20px;
	cursor: pointer;
} */

.loginButton a:hover {
}

.loginButton .primary {
	background-color: #021e5e;
	border: 1px solid #ffffff;
	color: #ffffff;
}
.loginButton .secondary {
	color: #021e5e;
	background-color: #ffffff;
	border: 1px solid #ffffff;
}
.loginButton .primary:hover {
	color: #021e5e;
	border: 1px solid #021e5e;
	background-color: #ffffff;
}
.loginButton .secondary:hover {
	background-color: #021e5e;
	color: #ffffff;
	border: 1px solid #ffffff;
}
.loginButton .buttonSeparator {
	width: 100px;
	height: 2px;
	background-color: #ffffff;
}

.ourServices .content {
	/* padding-top: 95px; */
}

.constructions .content,
.stopChasing .content {
	/* padding-top: 95px; */
	/* min-height: 640px; */
}
.content {
	padding-top: 40px;
}

.content h1 {
	color: #333333;
	font-size: 3em;
	text-align: center;
	margin-bottom: 70px;
	margin-top: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

.content h2 {
	color: #ffffff;
	font-size: 2em;
	text-align: center;
	margin-bottom: 100px;
	margin-top: -100px;
}

.content .flexBox {
	display: flex;
	flex-direction: row;
	justify-content: center;

	flex-wrap: wrap;
}

.constructions .content .flexBox {
	flex-direction: column;
}

@media screen and (max-width: 768px) {
	.home {
		height: 640px;
	}

	.homeSection h1 {
		font-size: 2.5em;
		max-width: 320px;
	}	

	.content h1 {
		font-size: 2em;
		margin-top: 10px;
		margin-bottom: 40px;
	}
	.ourServices .content {
		padding-top: 0;
	}
	.homeSection .loginWrapper {
		left: 50%;
    transform: translateX(-50%);
	}

	.stopChasing {
		padding-bottom: 40px;
	}
	.loginButton .buttonSeparator {
		width: 30px;
	}
} 
