.respWrapper {
  width: 220px;
  height: 300px;
  border-radius: 10px;
  background: linear-gradient(to right bottom, #ffffff 50%, #EBEDFF);

  position: relative;

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 24px;

  box-shadow: 0 12px 24px 0 rgb(0 0 0 / 5%)
}

.respTitle {
  width: 100%;
  background: #7c5b5b;
  padding: 15px 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.respDesc {
  padding: 30px;
  position: absolute;
  font-size: 20px;
  font-weight: 400;
}