.header {
	background-color: #021e5e;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 1000;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
	display: block;
}

.headerBg {
	position: fixed;
	height: 80px;
	top: 0;
	background-color: transparent;
	width: 0;
	z-index: -1;
	transition: all 0.5s ease-in;
}

.headerBg.appear {
	background-color: #021e5e;
	width: 100%;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding-right: 1rem;
	padding-left: 2rem;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
	z-index: 9999;
}

.header nav {
	float: right;
	font-size: 100%;
}

.navCover {
	position: fixed;
	top: 0;
	left: -5000;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	transition: all 1s ease-in;
	z-index: -5;
}

.header nav a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 1rem;
	margin-right: 10px;
	min-width: 50px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	border-radius: 10px;
	transition: all 0.5s ease-in-out;
}

.header nav a:hover {
	color: #333333;
	background: #ffffff;
	border-radius: 10px;
	transition: all 0.5s ease-in-out;
}

.header nav a.loginButton {
	border: 1px solid #ffffff;
	padding: 0 30px;
	box-sizing: content-box;
}
.header nav a.loginButton:hover {
	border-color: #021e5e;
}

@media screen and (max-width: 768px) {
	.navigation {
		padding: 0 40px;
	}

	.header nav {
		position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    top: 80px;
    background: #021e5e;
		width: 100%;
		padding-bottom: 1px;
	}

	.header nav a {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		height: 75px;

		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		border-radius: 0;
	}

	.header nav a:hover {
		border-radius: 0;
	}

	nav.show {
		transform: translateX(0);
		overflow: hidden;
    opacity: 1;
		transition: all 0.5s ease-in-out;
	}
	
	nav.hide {
		transform: translateX(-1000px);
		opacity: 0;
		transition: all 0.5s ease-out;
	}

	.navCover.show {
		opacity: 1;
		left: 0;
	}
	.navCover.hide {
		opacity: 0;
		left: -5000;
	}
}
