.header {
	background-color: var(--secondary-bg-color);
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 1000;
	box-shadow: 0 0 2px rgba(var(--v-main-bg-color), 0.7);
	display: block;
	border-bottom: 1px solid rgba(var(--v-main-bg-color), 0.1);
}

.headerBg {
	position: fixed;
	height: 80px;
	top: 0;
	background-color: transparent;
	width: 0;
	z-index: -1;
	transition: all 0.5s ease-in;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 0 10%;
}

.header nav {
	float: right;
	font-size: 100%;
}

.header nav a {
	margin-left: 10px;
}


@media screen and (max-width: 768px) {
	.navigation {
		padding: 0 40px;
	}

	.header nav {
		position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    top: 80px;
		background-color: var(--main-bg-color) !important;
		width: 100%;
		padding-bottom: 1px;
	}

	.header nav a {
		border-bottom: 1px solid rgba(var(--v-secondary-bg-color), 0.5);
		height: 75px;
		color: var(--secondary-text);
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		border-radius: 0;
		font-size: 24px;
	}

	.header nav a:hover {
		border-radius: 0;
	}

	nav.show {
		transform: translateX(0);
		overflow: hidden;
    opacity: 1;
		transition: all 0.5s ease-in-out;
	}
	
	nav.hide {
		transform: translateX(-1000px);
		opacity: 0;
		transition: all 0.5s ease-out;
	}

	.navCover.show {
		opacity: 1;
		left: 0;
	}
	.navCover.hide {
		opacity: 0;
		left: -5000;
	}
}
