* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}
html, body {
	width: 100%;
	font-family: 'Rubik', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
  scroll-behavior: smooth;
}

.layout {
	padding: 80px 0px;
}

footer {
	text-align: center;
	margin-bottom: 45px;
}

:root {
  --main-bg-color: rgb(0 135 238);
	--v-main-bg-color: 0, 135, 238; 
	--secondary-bg-color: #ffffff;
	--v-secondary-bg-color: 255, 255, 255;
	--tertiary-bg-color: rgb(0, 135, 238);
	--dark-bg-color: #0d1f2a; 
	--main-body-text: #0d1f2a;
	--secondary-text: #ffffff;
}

