.topButton {
  position: fixed;
  bottom: -30px;
  right: 40px;
  text-decoration: none;
  color: var(--main-bg-color);
  font-size: 74px;
  line-height: 74px;
  cursor: pointer;
  transform: scaleY(1.5);
  transition: all 0.2s ease-in;
}

.topButton:hover {
  transform: scaleY(2);
  transition: all 0.2s ease-in;
}
