.topButton {
  position: fixed;
  bottom: 20px;
  right: 40px;

  text-decoration: none;
  background: #333333;
  color: #ffffff;

  font-size: 44px;
  line-height: 60px;
  text-align: center;

  font-weight: bold;

  width: 60px;
  height: 60px;
  border-radius: 100%;
}
