.serviceWrapper {
	display: flex;
	flex-direction: column;
	border: 1px solid #021e5e;
	border-radius: 10px;
	width: 320px;
	padding: 30px;

	align-items: center;
	position: relative;
  background: linear-gradient(to right bottom, #ffffff 50%, #EBEDFF);

	margin-bottom: 24px;
	margin-left: 10px;
	margin-right: 10px;
}

.serviceWrapper h2.heading {
	font-size: 24px;
	line-height: 24px;
	margin-top: 20px;
	margin-bottom: 30px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
	color:#021e5e;
}

.serviceWrapper > p {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 20px;
	min-height: 72px;
}

.serviceWrapper .startsAt {
	background: #0e6fd2;
	padding: 10px;
	border-radius: 10px;
}

.serviceWrapper .startsAt p {
	font-size: 16px;
	color: #ffffff;
}

@media screen and (max-width: 1200px) {
	.serviceWrapper {
		flex-wrap: wrap;
	}
}