.serviceWrapper {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	width: 220px;

	align-items: center;
	position: relative;
  background: linear-gradient(to right bottom, #ffffff 50%, #EBEDFF);

	margin-bottom: 24px;
	margin-left: 20px;
	margin-right: 20px;

	border: 1px solid #e9eef1;
	box-shadow: 0 12px 24px 0 rgb(0 0 0 / 5%);

	transition: all 0.5s ease-in-out;
	padding-bottom: 15px;
}

.serviceWrapper:hover {
	transform: scale(1.05);
	transition: all 0.5s ease-in-out;
}

.serviceWrapper img {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.serviceWrapper h2.heading {
	font-size: 18px;
	line-height: 18px;
	margin-top: 10px;
	margin-bottom: 15px;
	color:#333333;
}

.serviceWrapper > p {
	font-size: 14px;
	line-height: 14px;
	min-height: 90px;
	padding: 5px 20px;
}

.serviceWrapper .startsAt {
	background: #0087EE;
	padding: 5px 10px;
	border-radius: 10px;
}

.serviceWrapper .startsAt p {
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}

@media screen and (max-width: 1200px) {
	.serviceWrapper {
		flex-wrap: wrap;
	}
}